@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="container top-row">
        <div class="col text-xl-left"><h4>Expense Tracker</h4></div>
        <div class="col text-right"> <a href="https://www.linkedin.com/in/shawdeepak/" target="_blank">About</a></div>
    </div>
    @*<div class="top-row px-4">
            <a href="https://www.linkedin.com/in/shawdeepak/" target="_blank" class="ml-md-auto">About</a>
        </div>*@
    <div class="content px-4">
        @Body
    </div>
</div>
