@page "/"
@using ExpenseTracker.Server.Components
@using System.Linq

<h1>Welcome to Expense Tracker</h1>
@*<ETDashBoard title="Expense Tracker Dash Board" />*@


<p>version: 1.1</p>
@code
{
    protected override async Task OnInitializedAsync()
    {


    }

}