@page "/"
@*<h1 class="text-left">About Expense Tracker</h1>*@
<div class="card">
    <img src=@bannerImageLocation class="card-img-top" alt="Monthly Expenses Tracker" height="200">
    <div class="card-body">
        <h5 class="card-title">About Expense Tracker</h5>
        <p class="card-text">
            Expense Tracker is a single page web application. Which helps to track and manage daily basis expenses.
            This application gives simple chart to visualize the expense on various parameters such as expense category, Currency, Payment type and methods and more..
            <br />
            The Expense Tracker also gives the flexibility to upload bank / credit card statement as monthly expenses.
            <br />
            End of the month it helps you to do quick analysis of your expense as well.
            Also, It has expense history to track your expenses in past.
            <br />
        </p>
        <p class="card-text">
            <b>Technical Features</b><br />
            Expense Tracker is Experimental Service side Blazor application. Hosted on Azure as App Service using consumption plan.
            <br />
            This Application is designed & developed using Sqlite Database, Interfacing with Entity Framework using
            Repository pattern.

            <br/> - Modal Dialog form has been implemented for Add, Update and Delete
            <br />... more need to write (coming soon..)
        </p>
        <p class="card-text">
            <small class="text-muted">

                Last updated on: <b>@lastUpdate</b><br />
                Source Code can be found <a target="_blank" href="http:\\github.com"> @@github</a>
            </small>
        </p>
    </div>
</div>
<p class="text-justify">

</p>





@code
{
    private string lastUpdate { get; } = "6-FEB-2020"; //TODO Read from Project Properties
    //private string bannerImageLocation { get; } = "/img/banner3.png";
    //private string bannerImageLocation { get; } = "/img/banner1.png";
    //private string bannerImageLocation { get; } = "/img/banner2.png";
    //private string bannerImageLocation { get; } = "/img/banner4.jpg";
    private string bannerImageLocation { get; } = "/img/banner5.jpg";
}