@page "/UploadExpsense"

<p>Expense Upload Under Construction</p>
This is a dummy page..<br />
<input type="file" class="btn btn-primary"  />
@*<input type="file" class="btn btn-primary" @ref="@inputElement" />*@
<br />
<br />
<button class="btn btn-outline-info" @onclick="Upload">Upload File</button>


    @code {
        private async Task Upload()
        {
            
        }
    }
    
